    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    h1 {
        margin: 0;
        font-size: 3rem;
        font-weight: bold;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    p {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    
    .hero {
        background: #23424A;
        background: linear-gradient(90deg, rgba(35, 66, 74, 1) 0%, rgba(53, 112, 128, 1) 47%, rgba(44, 148, 170, 1) 100%);
        font-style: normal;
    }
    
    .two-columns {
        background: #136C72;
        color: white;
    }
    
    .three-columns {
        padding: 3em 0;
    }
    
    .three-columns h2 {
        color: #87629A;
    }
    
    .container {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 50px 0;
    }
    
    .content {
        width: 55%;
        color: white;
    }
    
    .content p {
        margin-bottom: 3em;
    }
    
    .content-btn {
        color: darkslategrey;
        border: 0px solid transparent;
        background: linear-gradient(90deg, rgba(62, 164, 171, 1) 0%, rgba(55, 184, 193, 1) 51%, rgba(56, 207, 217, 1) 100%);
        border-radius: 30px;
        font-style: normal;
        font-weight: bold;
        font-size: 1.3rem;
        line-height: 150.19%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        padding: 0.5em 1.8em;
        text-decoration: none;
        display: inline-block;
        -webkit-box-shadow: 15px 14px 29px -9px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 15px 14px 29px -9px rgba(0, 0, 0, 0.75);
        box-shadow: 15px 14px 29px -9px rgba(0, 0, 0, 0.75);
        text-align: center;
    }
    
    .content-btn:hover {
        opacity: 0.75;
    }
    
    .content-btn:active {
        transform: scale(0.95);
        color: darkslategrey;
    }
    
    .content-btn:visited {
        color: darkslategrey;
    }
    
    .row {
        display: flex;
    }
    
    .col+.col {
        margin-left: 50px;
    }
    
    .row-centered .col {
        text-align: center;
    }